body{
	background-color: #DBDFD9;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

h4 h5{
	padding-left: 10px;
}
h6 {
	text-align: center;
	font-size: 14px;
}
.small {
	padding-top: 20px;
}
#desc{
    font-size: 12px;
    text-align: justify;
}


#crises{
	width: 100%;
}
#crises svg g g.axis.x text {
    text-anchor: end !important;
    transform: rotate(-30deg);
}
#crises svg g g.axis.y {
    display: none;
}

.detailCharts {
	display: none;
}