body{
	background-color: #DDDDDD;
}
h4 h5{
	padding-left: 10px;
}
h6 {
	text-align: center;
	font-size: 15px;
}
p, .small{
	text-align: center;
	font-size: 11px;
	margin: 0 0 0px;
}
.desc{
    font-size: 11px;
    text-align: justify;
}
.header strong{
	width: 100%;
	padding-left: 50px;
}

.charts{
	width: 100%;
}
#crises svg g g.axis.x text {
    text-anchor: end !important;
    transform: rotate(-30deg);
}
#crises svg g g.axis.y {
    display: none;
}

.detailCharts {
	display: none;
}